* {
    margin: 0;
}

body {
    background-color: #830c00;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* columna para que el logo quede arriba del contenedor */
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; /* espacio del logo arriba del contenedor */
}

.title{
    color: #AD6D01;
    /* grosor del texto */
    font-weight:800;
    /* tamaño del texto */
    font-size: 30px;
    text-align: center;
    /* mover el texto hacia la derecha */
    margin: 170px;
}

.user, .password{
    color: #830c00;
    font-weight:400;
    font-size: 20px;
}

.password::placeholder{
    color: #830c00;
}

.logo {
    position: absolute;
    top: 20px;  /* Ajusta este valor para la posición vertical */
    left: 45%; /* Ajusta este valor para moverlo hacia la izquierda */
    width: 120px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    background-color: rgb(255, 255, 255);
    /* ancho */
    width: 600px;
    /* alto */
    height: 500px;
    /* margenes de alto */
    padding-top: 50px;
    /* subir para arriba el contenedor blanco */
    margin-bottom: 15px;
    position: relative;
    /* espacio entre el contenedor y los componentes lado izquierdo */
    padding-left: 70px;
    /* espacio entre el contenedor y los componentes lado derecho */
    padding-right: 70px;
    border-radius: 15px;
}

.form {
    padding-top: 20px;
    margin: 30px 50px;
}

input, .btn-login {
    background-color: #f3f3f3;
    width: 100%;
    padding: 10px 20px;
    /* espacio entre los componentes usuario y contraseña */
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

.btn-login {
    background-color: #AD6D01;
    padding: 20px 20px;
    color: white;
    cursor: pointer;
    margin-top: 60px;
    font-weight:600;
}

.text-container {
    text-align: center;
    margin-top: 10px; /* Ajusta el espacio superior */
}